@using FitnessTracker.Models;
@model List<FitnessTracker.Models.Member>


@{
  List<Gym> gyms = ViewData["gyms"] as List<Gym>;
}

<h1>Members</h1>

@if (gyms.Count == 0)
{
  <h3>You need to add a gym before you can add a member</h3>
}
else
{
  if (@Model.Count == 0)
  {
    <h3>No members have been added yet!</h3>
  }
  
  <ul>
  @foreach (Member member in Model)
  {
    <li>@Html.ActionLink($"{member.Name}", "Details", new { id = member.MemberId })</li>
  }
  </ul>

<p>@Html.ActionLink("Add new member", "Create")</p>

}

<p>@Html.ActionLink("Go Back to Home Page", "Index", "Home")</p>

