@using FitnessTracker.Models;
@model List<FitnessTracker.Models.Gym>

<h1>Gyms</h1>
<ul>
    @foreach (Gym gym in Model)
    {
      <li>@Html.ActionLink($"{gym.Location}", "Details", new { id = gym.GymId })</li>
    }
</ul>

<p>@Html.ActionLink("Add new gym", "Create")</p>
