<h1 id="hero-heading">Fitness Tracker</h1>
<div id="hero">
  <div class="hero-img-top-left">
    <a href="../Routines/Index">
      <img class="hero-img" src="~/img/routine.jpeg" />
      <p class="hero-p">Routines</p>
    </a>
  </div>
  <div class="hero-img-right">
    <a id="member-img" href="../Members/Index">
      <img class="hero-img" id="member-img" src="~/img/member.jpeg" />
      <p class="hero-p">Members</p>
    </a>
  </div>
  <div class="hero-img-bot-left">
    <a id="gym-img" href="../Gyms/Index">
      <img class="hero-img" src="~/img/gym.jpg" />
      <p class="hero-p">Gyms</p>
    </a>
  </div>
  <div>